.box1 {
    width: 700px;
    height: 200px;
    margin: 20px;
    background-color:rgba(33, 163, 163, 0.8); ;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* More noticeable shadow */
    border: 2px solid rgba(0, 128, 128, 0.8);
    transition: width 0.3s ease, height 0.3s ease; /* Smooth transition */
}

.box1:hover {
    width: 710px;
    height: 210px;
}
.b1{
    margin: 10px;
}
.name{
    margin: 20px;
}
